.board {
  width: 95vw;
  height: 95vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.winningMessage {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}

.winningMessage button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.25em 0.5em;
  cursor: pointer;
}

.winningMessage button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.winningMessage.show {
  display: flex;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
